<div>
  <h1 class="mt-5 text-center">Minigame Madness</h1>
  <div class="row justify-content-center align-items-center">
    <div>
      <p>
        <img src="assets/images/Logo.png" alt="">
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>Welcome</h2>
      <p>
        Welcome to Minigame Madness, the place to play pointless funny minigames, from clicker games to lslots, to guessing games.
        If you find a bug or have an idea please contact me! Remember that this website is just for fun. Ill try to update and bring new things if i have time
        Feedback is always welcome!
      </p>
    </div>
  </div>
</div>
